.App-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 100%;
  height: 850px;
}
.container{
  background-color: rgb(208, 116, 165);
  width: 500px;
  border-radius: 25px;
  padding: 50px;
  text-align: justify;
}
.head{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
  font-family: 'Times New Roman', Times, serif;
}
.card{
  border-radius: 10px;
  width: 500px;
  height: 150px;
  background-color: rgba(207, 188, 164, 0.797);
}
.Symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
  color: brown;
}
#para{
  text-align: center;
  font-size: larger;
}
.input{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#outlined-basic{
  background-color: rgba(196, 183, 164, 0.623);
  border-radius: 10px;
}
#calculate{
  background-color: green;
  border-radius: 10px;
}
#reset{
  background-color:rgb(190, 16, 16);
  border-radius: 10px;
  color: white;
}